<% provide(:title, 'Contact') %>
 <h1 class="page-title">CS 232 Contact</h1>
<p>
  If you need assistance please contact the instructor or teaching assistant.
</p>

<section class="main">
<dl>
    <dt>Instructor</dt>
      <dd>123-456-7890</dd>
    <dt>Teaching Assistant</dt>
      <dd>398-654-3211</dd>
</dl>
</section>
